<a href="https://colab.research.google.com/github/emiiliiojose/BusinessAnalysis/blob/main/Class_Activity_EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
#to ignore warnings
import warnings
warnings.filterwarnings('ignore')

In [ ]:
data = pd.read_csv("/content/used_cars_data.csv")

In [2]:
# Replace with your actual GitHub raw file URL
github_url = "https://raw.github.com/emiiliiojose/BusinessAnalysis/main/used_cars_data.csv"

data = pd.read_csv(github_url)

In [ ]:
data.head() # will give you the first 5 rows of the file

,S.No.,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,0,Maruti Wagon R LXI CNG,Mumbai,2010,72000,CNG,Manual,First,26.6 km/kg,998 CC,58.16 bhp,5.0,NaN,1.75
1,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50
2,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,18.2 kmpl,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
3,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00
4,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74

In [ ]:
data.tail() # Will give you the las 5 rows of the file

,S.No.,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
7248,7248,Volkswagen Vento Diesel Trendline,Hyderabad,2011,89411,Diesel,Manual,First,20.54 kmpl,1598 CC,103.6 bhp,5.0,NaN,NaN
7249,7249,Volkswagen Polo GT TSI,Mumbai,2015,59000,Petrol,Automatic,First,17.21 kmpl,1197 CC,103.6 bhp,5.0,NaN,NaN
7250,7250,Nissan Micra Diesel XV,Kolkata,2012,28000,Diesel,Manual,First,23.08 kmpl,1461 CC,63.1 bhp,5.0,NaN,NaN
7251,7251,Volkswagen Polo GT TSI,Pune,2013,52262,Petrol,Automatic,Third,17.2 kmpl,1197 CC,103.6 bhp,5.0,NaN,NaN
7252,7252,Mercedes-Benz E-Class 2009-2013 E 220 CDI Avan...,Kochi,2014,72443,Diesel,Automatic,First,10.0 kmpl,2148 CC,170 bhp,5.0,NaN,NaN

In [ ]:
data.info() # the name of the columns an the data type

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7253 entries, 0 to 7252
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   S.No.              7253 non-null   int64
 1   Name               7253 non-null   object
 2   Location           7253 non-null   object
 3   Year               7253 non-null   int64
 4   Kilometers_Driven  7253 non-null   int64
 5   Fuel_Type          7253 non-null   object
 6   Transmission       7253 non-null   object
 7   Owner_Type         7253 non-null   object
 8   Mileage            7251 non-null   object
 9   Engine             7207 non-null   object
 10  Power              7207 non-null   object
 11  Seats              7200 non-null   float64
 12  New_Price          1006 non-null   object
 13  Price              6019 non-null   float64
dtypes: float64(2), int64(3), object(9)
memory usage: 793.4+ KB

In [ ]:
data.nunique() # return the unique values from each column

S.No.                7253
Name                 2041
Location               11
Year                   23
Kilometers_Driven    3660
Fuel_Type               5
Transmission            2
Owner_Type              4
Mileage               450
Engine                150
Power                 386
Seats                   9
New_Price             625
Price                1373
dtype: int64

In [ ]:
data.isnull().sum() # the sum of elements that are null

S.No.                   0
Name                    0
Location                0
Year                    0
Kilometers_Driven       0
Fuel_Type               0
Transmission            0
Owner_Type              0
Mileage                 2
Engine                 46
Power                  46
Seats                  53
New_Price            6247
Price                1234
dtype: int64

In [ ]:
(data.isnull().sum()/(len(data)))*100  # percentage of null values on each column

S.No.                 0.000000
Name                  0.000000
Location              0.000000
Year                  0.000000
Kilometers_Driven     0.000000
Fuel_Type             0.000000
Transmission          0.000000
Owner_Type            0.000000
Mileage               0.027575
Engine                0.634220
Power                 0.634220
Seats                 0.730732
New_Price            86.129877
Price                17.013650
dtype: float64

In [ ]:
data.shape # rows, columns

(7253, 14)

In [ ]:
data.shape

(7253, 13)

In [ ]:
# Remove S.No. column from data
data = data.drop(['S.No.'], axis = 1)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7253 entries, 0 to 7252
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               7253 non-null   object
 1   Location           7253 non-null   object
 2   Year               7253 non-null   int64
 3   Kilometers_Driven  7253 non-null   int64
 4   Fuel_Type          7253 non-null   object
 5   Transmission       7253 non-null   object
 6   Owner_Type         7253 non-null   object
 7   Mileage            7251 non-null   object
 8   Engine             7207 non-null   object
 9   Power              7207 non-null   object
 10  Seats              7200 non-null   float64
 11  New_Price          1006 non-null   object
 12  Price              6019 non-null   float64
dtypes: float64(2), int64(2), object(9)
memory usage: 736.8+ KB

In [ ]:
from datetime import date
date.today().year
data['Car_Age']=date.today().year-data['Year']
data.head()

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price,Car_Age
0,Maruti Wagon R LXI CNG,Mumbai,2010,72000,CNG,Manual,First,26.6 km/kg,998 CC,58.16 bhp,5.0,NaN,1.75,15
1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50,10
2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,18.2 kmpl,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50,14
3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00,13
4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74,12

In [ ]:
data['Brand'] = data.Name.str.split().str.get(0)
data['Model'] = data.Name.str.split().str.get(1) + data.Name.str.split().str.get(2)
data[['Name','Brand','Model']]

,Name,Brand,Model
0,Maruti Wagon R LXI CNG,Maruti,WagonR
1,Hyundai Creta 1.6 CRDi SX Option,Hyundai,Creta1.6
2,Honda Jazz V,Honda,JazzV
3,Maruti Ertiga VDI,Maruti,ErtigaVDI
4,Audi A4 New 2.0 TDI Multitronic,Audi,A4New
...,...,...,...
7248,Volkswagen Vento Diesel Trendline,Volkswagen,VentoDiesel
7249,Volkswagen Polo GT TSI,Volkswagen,PoloGT
7250,Nissan Micra Diesel XV,Nissan,MicraDiesel
7251,Volkswagen Polo GT TSI,Volkswagen,PoloGT
7252,Mercedes-Benz E-Class 2009-2013 E 220 CDI Avan...,Mercedes-Benz,E-Class2009-2013

In [ ]:
print(data.Brand.unique())
print(data.Brand.nunique())

['Maruti' 'Hyundai' 'Honda' 'Audi' 'Nissan' 'Toyota' 'Volkswagen' 'Tata'
 'Land' 'Mitsubishi' 'Renault' 'Mercedes-Benz' 'BMW' 'Mahindra' 'Ford'
 'Porsche' 'Datsun' 'Jaguar' 'Volvo' 'Chevrolet' 'Skoda' 'Mini' 'Fiat'
 'Jeep' 'Smart' 'Ambassador' 'Isuzu' 'ISUZU' 'Force' 'Bentley'
 'Lamborghini' 'Hindustan' 'OpelCorsa']
33

In [3]:
from datetime import date
print(date.today().year)
print(date.today().month)
print(date.today())
# Is it 23 of jan ?

2025
1
2025-01-23

In [4]:
from datetime import datetime
current_time = datetime.now()
print(current_time)

print('Current Time:', current_time.strftime('%H:%M:%S'))

2025-01-23 02:21:36.378712
Current Time: 02:21:36

In [6]:
# Replace with your actual GitHub raw file URL
github_url = "https://raw.github.com/emiiliiojose/BusinessAnalysis/main/exercise_data.csv"

data = pd.read_csv(github_url)

In [7]:
#Calculate the difference between Pulse & MaxPulse and store it in a new column "DifferenceOfPulse"
data['Differenceofpulse'] = data['Maxpulse']-data['Pulse']
data = data.drop(['Differenceofpulse'], axis=1)
data.head()

   Duration        Date  Pulse  Maxpulse  Calories
0        60  01-12-2020    110       130     409.1
1        60  02-12-2020    117       145     479.0
2        60  03-12-2020    103       135     340.0
3        45  04-12-2020    109       175     282.4
4        45  05-12-2020    117       148     406.0

In [8]:
data['Calories'] = data['Calories'].fillna(data['Calories'].mean())
print("Mean of Maxpluse is:",data['Maxpulse'].mean())
print("Median of Maxpulse is:",data['Maxpulse'].median())
print("Mode of Maxpulse is:",data['Maxpulse'].mode()[0])
# 10, 20, 20, 5, 5

#Mean, Meadian, Mode of calories:
# average()

Mean of Maxpluse is: 128.5
Median of Maxpulse is: 127.5
Mode of Maxpulse is: 120

In [12]:
data.isnull().sum()

Duration    0
Date        1
Pulse       0
Maxpulse    0
Calories    0
dtype: int64

In [15]:
data

    Duration         Date  Pulse  Maxpulse  Calories
0         60   01-12-2020    110       130    409.10
1         60   02-12-2020    117       145    479.00
2         60   03-12-2020    103       135    340.00
3         45   04-12-2020    109       175    282.40
4         45   05-12-2020    117       148    406.00
5         60   06-12-2020    102       127    300.00
6         60   07-12-2020    110       136    374.00
7        450   08-12-2020    104       134    253.30
8         30   09-12-2020    109       133    195.10
9         60   10-12-2020     98       124    269.00
10        60   11-12-2020    103       147    329.30
11        60   12-12-2020    100       120    250.70
12        60   12-12-2020    100       120    250.70
13        60   13-12-2020    106       128    345.30
14        60   14-12-2020    104       132    379.30
15        60   15-12-2020     98       123    275.00
16        60   16-12-2020     98       120    215.20
17        60   17-12-2020    100       120    300.00
18        45   18-12-2020     90       112    304.68
19        60   19-12-2020    103       123    323.00
20        45   20-12-2020     97       125    243.00
21        60   21-12-2020    108       131    364.20
22        45          NaN    100       119    282.00
23        60   23-12-2020    130       101    300.00
24        45  24-12-2020'    105       132    246.00
25        60   25-12-2020    102       126    334.50
26        60   26-12-2020    100       120    250.00
27        60   27-12-2020     92       118    241.00
28        60   28-12-2020    103       132    304.68
29        60   29-12-2020    100       132    280.00
30        60   30-12-2020    102       129    380.30
31        60   31-12-2020     92       115    243.00

In [16]:
data_cleaned = data.dropna()

In [17]:
data_cleaned.shape

(31, 5)

In [18]:
data_cleaned

    Duration         Date  Pulse  Maxpulse  Calories
0         60   01-12-2020    110       130    409.10
1         60   02-12-2020    117       145    479.00
2         60   03-12-2020    103       135    340.00
3         45   04-12-2020    109       175    282.40
4         45   05-12-2020    117       148    406.00
5         60   06-12-2020    102       127    300.00
6         60   07-12-2020    110       136    374.00
7        450   08-12-2020    104       134    253.30
8         30   09-12-2020    109       133    195.10
9         60   10-12-2020     98       124    269.00
10        60   11-12-2020    103       147    329.30
11        60   12-12-2020    100       120    250.70
12        60   12-12-2020    100       120    250.70
13        60   13-12-2020    106       128    345.30
14        60   14-12-2020    104       132    379.30
15        60   15-12-2020     98       123    275.00
16        60   16-12-2020     98       120    215.20
17        60   17-12-2020    100       120    300.00
18        45   18-12-2020     90       112    304.68
19        60   19-12-2020    103       123    323.00
20        45   20-12-2020     97       125    243.00
21        60   21-12-2020    108       131    364.20
23        60   23-12-2020    130       101    300.00
24        45  24-12-2020'    105       132    246.00
25        60   25-12-2020    102       126    334.50
26        60   26-12-2020    100       120    250.00
27        60   27-12-2020     92       118    241.00
28        60   28-12-2020    103       132    304.68
29        60   29-12-2020    100       132    280.00
30        60   30-12-2020    102       129    380.30
31        60   31-12-2020     92       115    243.00

In [19]:
data = data.dropna(subset=['Calories'])
# delete null rows from calories columns only
print(data.isnull().sum())
print(data.shape)

Duration    0
Date        1
Pulse       0
Maxpulse    0
Calories    0
dtype: int64
(32, 5)